.img {
    border-radius: 10px;
    margin: 2rem;
    width: auto;
    height: 30rem;
    cursor: pointer;
    align-self: center;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#slider{
    overflow-x: scroll;
}

.list_show{
    display: none;
    width: 90%;
    margin-left: auto;
    border-left: 2px solid #303440;
    transition: height .4s;
}

.nav-link:hover{
    background: #f6f6fa;
}

.list_click{
    cursor: pointer;
}

.list_click:hover{
    background: #f6f6fa;
}
